/*
 * The Rewrite 2022-10-22
 *
 * url bar tweaks loosely based on https://www.userchrome.org/megabar-styling-firefox-address-bar.html
 */

/* Fix white blink background on new tabs */
#browser .browserStack {
  background-color: black !important;
}

/* Fixed urlbar height (for some reason these are defined inline ???) */
#urlbar-container {
  --urlbar-container-height: 34px !important;
}
#urlbar {
  --urlbar-toolbar-height: 34px !important;
  --urlbar-height: 26px !important;
}

/* Add some space above the bookmarks list */
#main-window {
  --bookmark-block-padding: 2px !important;
}
/* Reduce tab spacing and size */
#main-window {
  --tab-block-margin: 0px !important;
  --inline-tab-padding: 8px !important;
  --tab-min-height: 32px !important;
  --window-drag-spacing: 16px !important;
}
/* Remove tab border radius */
#tabbrowser-tabs tab,
#TabsToolbar toolbarbutton {
  --tab-border-radius: 0px !important;
}
/* Remove spacing between tabs */
#tabbrowser-tabs .tabbrowser-tab {
  padding-inline: 0px !important;
}
/* Remove spacing between regular and pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

/* add radius to tab bar buttons */
#tabbrowser-tabs .tab-content {
  --tab-border-radius: var(--toolbarbutton-border-radius) !important;
}
/* Narrow text height */
#tabbrowser-tabs .tab-label-container {
  height: unset !important;
}

/* Add border between tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-background {
  --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important;
  
  border-block-start: 1px solid color-mix(in srgb, currentColor 25%, transparent) !important;
  border-inline-end: 1px solid color-mix(in srgb, currentColor 25%, transparent) !important;
}
/* Add left border on first tab, and first unpinned if tabs are overflowing */
#tabbrowser-tabs .tabbrowser-tab[first-visible-tab] .tab-background,
#tabbrowser-tabs[haspinnedtabs][positionpinnedtabs] .tabbrowser-tab[first-visible-unpinned-tab] .tab-background {
  border-inline-start: 1px solid color-mix(in srgb, currentColor 25%, transparent) !important;
}
/* Offset tab content to account for side border */
#tabbrowser-tabs .tabbrowser-tab .tab-content {
  margin-inline: 0.5px 1.5px !important;
}

/* Remove selected tab shadow, darken the border to account for lighter background color */
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
#tabbrowser-tabs .tab-background:is([selected], [multiselected]) {
  border-color: color-mix(in srgb, currentColor 35%, transparent) !important;
  box-shadow: unset !important;
}

/* Remove firefox view separator spacing */
:root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden]) :is(#firefox-view-button, #wrapper-firefox-view-button) + #tabbrowser-tabs {
  border: unset !important;
  padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
  margin-inline-start: 0px !important;
}

/* Set min height on absolute pinned tabs to overlay bottom border */
#tabbrowser-tabs[haspinnedtabs][positionpinnedtabs] .tabbrowser-tab[selected] .tab-content {
  min-height: var(--tab-min-height) !important;
}

/* Always hide built-in tab bar drag space *
#tabbrowser-tabs .titlebar-spacer[type="pre-tabs"],
#tabbrowser-tabs .titlebar-spacer[type="post-tabs"] {
  display: none !important;
}*/
/* Make drag space after add tab when tabs are overflowing */
#tabbrowser-tabs[hasadjacentnewtabbutton][overflow="true"] ~ #new-tab-button {
  margin-inline-end: var(--window-drag-spacing) !important;
}
/* Make drag space after add tab, when tabs are not overflowing */
#tabbrowser-tabs:not([overflow="true"]) > #tabbrowser-arrowscrollbox > #tabbrowser-arrowscrollbox-periphery > spacer.closing-tabs-spacer {
  min-width: var(--window-drag-spacing) !important;
}

/* Remove side padding around overflowing tabs */
#tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox::part(scrollbox) {
  padding-inline: 0px !important;
}
/* Offset pinned tabs to accommodate for the removed padding */
#tabbrowser-tabs[positionpinnedtabs] .tabbrowser-tab[pinned="true"] {
  transform: translateX(var(--tab-shadow-max-size)) !important;
}
#tabbrowser-tabs[positionpinnedtabs] .tab-content[pinned="true"] {
  transform: translateY(1px) !important;
}

/* Less spacing around tab bar buttons (new tab, list tabs) */
#TabsToolbar toolbarbutton:not([role="tab"]) {
  --toolbarbutton-inner-padding: 4px !important;
  --tab-border-radius: var(--toolbarbutton-border-radius) !important;
  border: 4px solid transparent !important;
}

/* Move audio playing/muted indicator */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
  padding: 0 !important;
  margin-left: 20px !important;
  scale: 1.1;
}
/* Do not hide favicon if audio indicator is shown */
.tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) > :not(.tab-icon-overlay) {
  opacity: unset !important;
}

/* Compute url bar position, width, and padding */
#urlbar[breakout][breakout-extend] {
  /* Number of pixels of enlargement when url bar is focused */
  --mbarstyler-popout-pixels: 2px;
  
  top: calc(4px - var(--mbarstyler-popout-pixels)) !important;
  left: calc(1px - var(--mbarstyler-popout-pixels)) !important;
  width: calc(100% + var(--mbarstyler-popout-pixels)) !important;
  padding: var(--mbarstyler-popout-pixels) !important;
}

/* Prevent shift of url bar contents */
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}

/* Compact url bar suggestions */
#urlbar .urlbarView {
  --urlbar-container-padding: -4px !important;
  --urlbarView-item-inline-padding: 6px !important;
}
#urlbar .urlbarView-row-inner {
  padding-block: 4px !important;
}
/* Clean up extra spacing at the top and bottom */
#urlbar .urlbarView-results {
  padding-block: 0 !important;
}
/* Compact search engine selection */
#urlbar .search-one-offs:not([hidden]) {
  padding-block: 2px !important;
}

/* No margin on last item */
.urlbar-page-action:last-of-type, #urlbar-go-button:last-of-type, .search-go-button:last-of-type {
  margin-inline-end: 0 !important;
}

:root {
  /* Compact toolbar icons */
  --toolbar-start-end-padding: 4px !important;
  --toolbarbutton-outer-padding: 0px !important;

  /* Nicer menu spacing */
  --arrowpanel-menuitem-padding-block: 4px !important;
}
